* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Ubuntu',
    sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #48dbfb;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  width: 44px;
  height: 32px;
  background-image: url(imgs/laptop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar__toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.navbar__toggler span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;

}

.navbar__menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar__menu a:hover {
  color: #48dbfb !important;
}

/* S t i c k y Menu */
.sticky {
  background-color: #fff;
  padding: 18px 0;

}

.sticky .navbar__logo {
  background-image: url(imgs/cellphone.png);


}

.sticky .navbar__menu a {
  color: #111;
}

.sticky .navbar__toggler span {
  background-color: #111;
}

/* H o m e  */

#home {
  height: 100vh;
  min-height: 500px;
  background: url(imgs/bg-edit.jpg) no-repeat center;

  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

}

.home__content {
  width: 100%;
  color: #fff;
}

.home__content h1 {
  font-size: 30px;
  margin-bottom: 60px;
}

.home__content h1::after {
  content: "Lucas Matías";
  -webkit-animation: textanim 10s linear infinite;
  animation: textanim 10s linear infinite;
}

@-webkit-keyframes textanim {
  25% {
    content: "Web Developer";
  }

  50% {
    content: "Estudiante";
  }

}

@keyframes textanim {
  25% {
    content: "Web Developer";
  }

  50% {
    content: "Estudiante";
  }

}

.home__sm a {
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.home__sm a:hover {
  color: #48dbfb;
}

.home__buttons {
  margin-top: 60px;
}

.home__buttons a {
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;

}

.home__buttons a:hover,
.home__buttons a:nth-child(2) {
  background-color: #48dbfb;
  color: #fff;
}

/*A B O U T  */
section {
  padding: 100px 0;
  background-color: #f1f1f1;
}

.about__inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 20px;
  padding-bottom: 20px;
  color: #111;

}

.section-title::before {
  content: "";
  width: 80px;
  height: 3px;
  position: absolute;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after {
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.about__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about__img {
  width: 80px;
  height: 80px;
  margin-right: 50px;
}

.about__text {
  flex: 1;
}

.about__text h3 {
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}

.about__text p {
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.about__skills {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__skill {
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill__info {
  display: flex;
  justify-content: space-between;
}

.skill-bar {
  height: 3px;
  background-color: #ddd;
  position: relative;
}

.skill-bar::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #48dbfb;
  bottom: 0;
}

.html::after {
  width: 90%;
}

.css::after {
  width: 50%;
}

.wordpress::after {
  width: 50%;
}

.javascript::after {
  width: 10%;
}

.git::after {
  width: 20%;
}

.git-hub::after {
  width: 20%;
}


/* S E R V I C E S */
.services__inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

section.dark {
  background-color: #353b48;
}

section.dark .section-title {
  color: #f1f1f1;
}

section.dark .section-title::before {
  background-color: #f1f1f1;
}

section.dark .section-title::after {
  border: 4px solid #353b48;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: calc(50% - 20px);
  text-align: center;
  border: 1px solid #48dbfb;
  border-radius: 6px;
  margin: 20px 0;
  padding: 40px 20px;
  color: #fff;
  cursor: pointer;
  transition: .3s linear;

}

.service h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.service .icon {
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: .3s linear;
}


.service:hover {
  background-color: #48dbfb;
}

.service:hover .icon {
  color: #fff;
}

/* E D U C A T I O N */
.education,
.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.education__block {
  background-color: #fff;
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}

.education__block::before {
  content: "";
  position: absolute;
  height: 120%;
  width: 1px;
  background-color: #ddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.education__block::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #48dbfb;
  border-radius: 50%;
  top: 30px;
  left: -28px;
}

.education__block h3 {
  font-size: 16px;
  margin: 10px 0;
}

.education__block p {
  font-size: 15px;
  color: #444;
}

/* T R A B A J O S */
.work {
  width: calc(25% - 10px);
  overflow: hidden;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
}

.works a {
  transition: .2s linear;
}

.work img {
  width: 100%;
  height: 100%;
  transition: .4s linear;
}

.work::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #48dbfbcc;
  transition: .2s linear;
  opacity: 0;
  transform: scale(0);
}

.work__info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: #fff;
  transition: .4s linear;
  opacity: 0;
}

.work:hover img {
  transform: scale(1.6) rotate(25deg);

}

.work:hover::before,
.work:hover .work__info {
  opacity: 1;
  transform: scale(1);
}

/* C O N T A C T M E */
.contact__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contact__info i {
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact__info .item:hover {
  background-color: #48dbfb;

}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.nameZone,
.emailZone {
  max-width: calc(50% - 10px);
}

.messageZone {
  min-height: 200px;
  resize: vertical;
}

.contact-form .btn {
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  font-size: 16px;
  border: 2px solid #48dbfb;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: .2s linear;

}

.contact-form .btn:hover {
  background-color: #48dbfb;
  color: #fff;
}

footer {
  background: url(imgs/bg-edit.jpg  ) no-repeat center;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}

.goTop {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;

}

.copyright a {
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}



@media screen and (max-width:900px) {
  .navbar__toggler {
    display: block;
  }

  .navbar__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 300px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar__menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar__menu {
    background-color: #f1f1f1;

  }

  .navbar__active {
    right: 0;
  }

  .navbar__toggler-active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .navbar__toggler-active span:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggler-active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;

  }

  .inner-width {
    max-width: 800px;
  }

  .about__img {
    margin: 0 auto 60px;
  }

  .about__text {
    flex: 100%;
    text-align: center;
  }

  .service {
    width: calc(50% - 20px);
  }

  .work {
    width: calc(50% - 10px);
  }



  .contact__info .item {
    width: 100%;
    margin: 10px;
  }
}




@media screen and (max-width: 600px) {
  .about__width {
    padding: 0 20px;
  }

  .about__skill {
    width: 100%;
  }

  .service {
    width: 100%;
  }

  .education__block {
    width: calc(100% - 20px);
    margin-left: auto;
  }

  .work {
    width: calc(100%);
  }

  .nameZone,
  .emailZone {
    max-width: 100%;
  }
}